.BlogsListWhole {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1200px
}


.BlogsItemWhole {
    display: flex;
    gap: 100px;
    justify-content:start;
    /* padding: 5px; */
    width: 500px;
}


.BlogsItemWhole img {
    float: left;
    width: 200px;
    height: 200px;
    /* overflow: hidden; */
    border-radius: 50%;
    object-fit: cover;
  }

